<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">

  </head>
  <body style="margin-top:65px">
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">InfiniTea</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/menu">Menu</a>
        <a class="nav-item nav-link" href="/about">About Us</a>
        <a class="nav-item nav-link" href="/gallery">Gallery</a>
      </div>
    </nav>
    <br>

    <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.squarespace-cdn.com/content/v1/50ce46ece4b01020c34fd52b/1570231138631-1JOUZ8QYBIESSQ7D3XVQ/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/orderahead_websitepromo.jpg?format=750w" style="position: relative;" width=100% alt="">
               </div>
            </div>
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.pexels.com/photos/128424/pexels-photo-128424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="position: relative;" width=100% alt="">
               </div>
            </div>
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.squarespace-cdn.com/content/v1/50ce46ece4b01020c34fd52b/1457827653894-AW72XG0QADOBGXYI8CYU/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzAFzFJoCInLPKyj9AG8yKe7-Q2aFvP177fkO9TY_-rz5WoqqTEZpmj4yDEOdwKV68/teafromteapeople2.jpg?format=750w" style="position: relative;" width=100% alt="">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.squarespace-cdn.com/content/v1/50ce46ece4b01020c34fd52b/1386997912761-8C8GGMWG4A5DBCMUPDHL/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzAFzFJoCInLPKyj9AG8yKe7-Q2aFvP177fkO9TY_-rz5WoqqTEZpmj4yDEOdwKV68/ourstory2.jpg?format=750w" width=100% alt="">
               </div>
            </div>
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.pexels.com/photos/1025493/pexels-photo-1025493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width=100% alt="">
               </div>
            </div>
            <div class="col-md-4">
               <div class="card mb-4">
                  <img src="https://images.squarespace-cdn.com/content/v1/50ce46ece4b01020c34fd52b/1463084695971-A7GLWW20S18D16SZFM40/ke17ZwdGBToddI8pDm48kGDpvalPb1SqHoCn1hwN0Y57gQa3H78H3Y0txjaiv_0fYBFzjBHm6J75ndes7bSqn-XFJOxHRx9nL7VEpwjp7EtkaOgErLdrOqS7zQLvz2XSWp-RWlGnWD_Yv5axNBE_goaEfJPrmi9cwjAj9lOrMtRkIKelhGMVoK0Sv-H3MmyF/cater4.jpg?format=750w" width=100% alt="">
               </div>
            </div>
         </div>
      </div>

      <!-- FOOTER -->
      <footer class="footer mt-auto bg-secondary p-5 text-white">
        &copy; 2019 InfiniTea Inc
      </footer>
  </body>
</html>
