<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>InfiniTea</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">InfiniTea</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/menu">Menu</a>
        <a class="nav-item nav-link" href="/about">About Us</a>
        <a class="nav-item nav-link" href="/gallery">Gallery</a>
      </div>
    </nav>
    <br>

      <!-- HERO -->
      <div class="jumbotron jumbotron-fluid text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('https://bit.ly/320vnyg'); background-size: cover; background-position: bottom;height: 100vh;">
        <h6>MORE THAN JUST BOBA TEA</h6>
        <h1 style="color: white;">InfiniTea</h1>
        <p style="color:white;" class="lead">Next Level Boba Tea</p>
        <p style="color:white;">We only use natural ingredients.</p>
      </div>



      <!-- BENEFITS -->
      <!-- <div class="container mb-5 mt-5 pb-5 pt-5">
        <div class="row m-5">
          <div class="col-lg-6 offset-lg-3">
            <img src="https://bit.ly/2BvCl3H" class="img-fluid rounded">
          </div>
        </div>
      </div> -->

      <!-- CALL TO ACTION -->
      <div class="text-center mb-10">
        <h1>
          <strong>STORE HOURS</strong>
        </h1>
        <hr width="50%">
        <h5>Sunday - Thursday</h5>
        <h5>11:00 am to 9:30 pm</h5>
        <br>
        <h5>Friday - Saturday</h5>
        <h5>11:00 am to 10:00 pm</h5>
        <hr width="50%">
        <h4>
          <strong>FOLLOW US</strong>
        </h4>

        <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook" style="margin: 10px"></i></a>
        <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter" style="margin: 10px"></i></a>
        <a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" style="margin: 10px"></i></a>


      </div>
      <br>



    <!-- FOOTER -->
    <footer class="footer mt-auto bg-secondary p-5 text-white">
      &copy; 2019 InfiniTea Inc
    </footer>
  </body>
</html>
